# As a library I won't commit the lock file
stack.yaml.lock

.cabal-sandbox/*
.stack-work
.stack/*
**/.stack/*
**/.stack-work/*
cabal.sandbox.config
shell.nix
_cache
_site
*.hi
*.o

cachedState
the-log-of-discord-haskell.txt
examples/*.secret
upload-haddock.sh
dist*

